body {
	font-family: 'Noto Serif', Georgia, serif;
	color: #222222;
	font-size: 1em; /* 16px */
	line-height: 1.5;
}
img {
	max-width: 100%;
}
h1 {
	font-family: Oswald, Arial, sans-serif;
	font-size: 3em; /* 48px */
	line-height: 1;
	text-transform: uppercase;
	margin: 0.33333333333333em 0;
}
p {
	margin: 1em 0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}


.container {
	width: 60em; /* 960px */
	margin: 0 auto;
}

.bar-top {
	background-color: #756b67;
	padding: 0 1em;
}
	.nav {
		overflow: hidden;
	}
		.logo {
			width: 33.33333333%;
			float: left;
		}
		.menu-right {
			float: right;
		}
		.menu li {
			display: inline-block;
		}

.main {
	/*background-color: blue;*/
}
	.article {
		/*background-color: green;*/
		overflow: hidden;
	}
		.article .header {
			/*background-color: #E496B2;*/
			padding: 0 1em;
		}
		.article .content {
			/*background-color: #E44034;*/
			width: 75%;
			float: left;
			padding: 0 1em;
		}
		.article .footer {
			/*background-color: #E4A369;*/
			width: 25%;
			float: right;
			padding: 0 1em;
		}
			.byline figcaption {
				text-align: center;
				font: 300 2em Oswald, Helvetica;
			}
			.byline figcaption a {
				color: inherit;
			}

			.icon {
				width: 5em;
				height: 5em;
				margin: 0 auto;
				background-color: #999;
				border-radius: 50%;
				text-align: center;
				line-height: 5em;
			}
			.icon img {
				width: 60%;
			}
			.tw {
				background-color: #35BFE4;
			}
			.gg {
				background-color: #E43119;
			}
			.fb {
				background-color: #2845E4;
			}
			.icon:hover {
				background-color: #fff;
			}


	.related {
		/*background-color: red;*/
		padding: 0 1em;
	}
	.comments {
		background-color: #1c1e1e;
		padding: 0 1em;
		color: #EEE;
	}
		.form-comment input, .form-comment textarea {
			border: none;
			background-color: #fff;
			padding: 1em;
			width: 100%;
			margin: 0.5em 0;
		}
		input[name="email"] {
			width: 70%;
		}
		.form-comment button {
			width: 20%;
			margin-left: 9.5%;
			padding: 1em;
			background-color: #D5664D;
			color: #fff;
			border-radius: 0.5em;
			border: none;
		}



.bar-bottom {
	background-color: #e1e0e2;
}


.content>p:first-child {
	font-size: 1.5em;
	font-style: italic;
}

.content>p:last-child:after {
	content: " \03a6";
}

.content blockquote {
	margin-left: 5em;
}

blockquote [rel="author"] {
	text-align: right;
}


blockquote [rel="author"]:before {
	content: "--- ";
	color: red;
}
















