body {
	font-family: 'Noto Serif', Georgia, serif;
	color: #222222;
	font-size: 1em; /* 16px */
	line-height: 1.5;
}
img {
	max-width: 100%;
}
h1, h2 {
	font-family: Oswald, Arial, sans-serif;
	line-height: 1;
	margin: 0.33333333333333em 0;
}

h1 {
	font-size: 3em; /* 48px */
	text-transform: uppercase;
	margin: 0.5em 0;
}
h2 {
	font-size: 1.5em; /* 48px */
	color: #D5664D;
}


p {
	margin: 1em 0;
}
a {
	text-decoration: none;
	color: #D5664D;
}
a:hover {
	text-decoration: underline;
}


.container {
	width: 60em; /* 960px */
	margin: 0 auto;
}

.bar-top {
	background-color: #756b67;
	padding: 0 1em;
}
	.nav {
		overflow: hidden;
		height: 4em;
	}
		.logo {
			width: 33.33333333%;
			height: 100%;
			float: left;
			line-height: 4;
		}
			.logo img {
				line-height: 4em;
				vertical-align: middle;
			}
		.menu-right {
			float: right;
		}
		.menu li {
			display: inline-block;
			padding: 0 1em;
			line-height: 4em;
		}
		.menu li:last-child {
			padding-right: 0;
		}
		.menu li a {
			font-size: 1.5em;
			font-family: Oswald, Arial, sans-serif;
			color: #fff;
			font-weight: 100;
		}
.main {
	/*background-color: blue;*/
}
	.article {
		/*background-color: green;*/
		overflow: hidden;
	}
		.article .header {
			/*background-color: #E496B2;*/
			padding: 0 1em;
		}
		.article .content {
			/*background-color: #E44034;*/
			width: 75%;
			float: left;
			padding: 0 1em;
		}
		.article .footer {
			/*background-color: #E4A369;*/
			width: 25%;
			float: right;
			padding: 0 1em;
		}
			.byline img {
				border-radius: 50%;
			}
			.byline figcaption {
				text-align: center;
				font: 300 2em Oswald, Helvetica;
			}
			.byline figcaption a {
				color: inherit;
			}
			.share {
				text-align: center;
			}

			.icon {
				width: 5em;
				height: 5em;
				margin: 0 auto;
				background-color: #999;
				border-radius: 50%;
				text-align: center;
				line-height: 5em;
				position: relative;
				margin-bottom: 1em;
			}
			.icon img {
				padding-top: 20%;
    			height: 80%;
			}
			.tw {
				background-color: #35BFE4;
			}
			.gg {
				background-color: #E43119;
			}
			.fb {
				background-color: #2845E4;
			}
			.icon:hover {
				background-color: #fff;
			}


	.related {
		/*background-color: red;*/
		padding: 1em;
	}
	.comments {
		background-color: #1c1e1e;
		padding: 1em;
		color: #EEE;
	}
		.form-comment input, .form-comment textarea {
			border: none;
			background-color: #fff;
			padding: 1em;
			width: 100%;
			margin: 0.5em 0;
		}
		input[name="email"] {
			width: 77%;
			float: left;
		}
		.form-comment button {
			width: 20%;
			margin-left: 2.5%;
			padding: 1em;
			background-color: #D5664D;
			color: #fff;
			border-radius: 0.5em;
			border: none;
			float: right;
			margin-top: 0.5em;
			margin-bottom: 0.5em;
		}
		.reply {
			border: none;
			border-radius: 0.3333333em;
			background-color: #DDD;
			float: right;
		}
		.comment {
			overflow: hidden;
			width: 75%;
		}
		.comment-body {
			overflow: hidden;
			width: 75%;
		}



.bar-bottom {
	background-color: #e1e0e2;
}


.content>p:first-child {
	font-size: 1.5em;
	font-style: italic;
	margin-top: 0;
}

.content>p:last-child:after {
	content: " \03a6";
}

.content blockquote {
	margin-left: 5em;
}

blockquote [rel="author"] {
	text-align: right;
}


blockquote [rel="author"]:before {
	content: "--- ";
}

.bar-bottom {
	overflow: hidden;
}
.about {
	width: 50%;
	float: left;
	padding: 1em;
}
.socialize {
	width: 50%;
	float: right;
	text-align: right;
	padding: 1em;
}
.connect li {
	display: inline-block;
}
.connect li a {
	font-family: Socialico;
	font-size: 3em;
	color: #D5664D;
}
.linkset {
	list-style-type: disc;
    padding-left: 1em;
}











